@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #232323;
  }
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-letter {
  animation-name: popup;
  animation-duration: 0.3s;
}
@keyframes popup {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
